<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_link">
    <visual>
      <geometry>
	<mesh filename="package://thymio_driver/models/meshes/thymio.dae"/>	
        <!--><cylinder length="0.1" radius="0.2"/><-->
      </geometry>
    </visual>
  </link>

 <link name="proximity_center_link"/>
 <link name="proximity_center_left_link"/>
 <link name="proximity_center_right_link"/>
 <link name="proximity_left_link"/>
 <link name="proximity_right_link"/>
 <link name="proximity_rear_left_link"/>
 <link name="proximity_rear_right_link"/>
 <link name="ground_left_link"/>
 <link name="ground_right_link"/>

  <joint name="proximity_center_joint" type="fixed">
    <origin xyz="0.08 0 0.034" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="proximity_center_link"/>
  </joint>

  <joint name="proximity_center_left_joint" type="fixed">
    <origin xyz="0.0759 0.0252 0.034" rpy="0 0 0.32"/>
    <parent link="base_link"/>
    <child link="proximity_center_left_link"/>
  </joint>

  <joint name="proximity_left_joint" type="fixed">
    <origin xyz="0.0642 0.0478 0.034" rpy="0 0 0.64"/>
    <parent link="base_link"/>
    <child link="proximity_left_link"/>
  </joint>

  <joint name="proximity_center_right_joint" type="fixed">
    <origin xyz="0.0759 -0.0252 0.034" rpy="0 0 -0.32"/>
    <parent link="base_link"/>
    <child link="proximity_center_right_link"/>
  </joint>

  <joint name="proximity_right_joint" type="fixed">
    <origin xyz="0.0642 -0.0478 0.034" rpy="0 0 -0.64"/>
    <parent link="base_link"/>
    <child link="proximity_right_link"/>
  </joint>


  <joint name="proximity_rear_left_joint" type="fixed">
    <origin xyz="-0.03 0.03 0.034" rpy="0 0 3.1416"/>
    <parent link="base_link"/>
    <child link="proximity_rear_left_link"/>
  </joint>

  <joint name="proximity_rear_right_joint" type="fixed">
    <origin xyz="-0.03 -0.03 0.034" rpy="0 0 3.1416"/>
    <parent link="base_link"/>
    <child link="proximity_rear_right_link"/>
  </joint>

  <joint name="ground_right_joint" type="fixed">
    <origin xyz="0.07157 -0.01155 0.008" rpy="0 1.5708 0"/>
    <parent link="base_link"/>
    <child link="ground_right_link"/>
  </joint>

  <joint name="ground_left_joint" type="fixed">
    <origin xyz="0.07157 0.01155 0.008" rpy="0 1.5708 0"/>
    <parent link="base_link"/>
    <child link="ground_left_link"/>
  </joint>


</robot>
